.content {
  background-color: #FFFFFF;
  min-height: 100vh;
  padding-top: 20px;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.content-main {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-top: 28px;
  font-weight: 600;
}

.info {
  color: #273850;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}
